# Intro

This is a replication of the 1995 paper by Blackburn and Neumark investigating bias in wage OLS estimations. The main delivery is that significant part of the bias is due to not taking into account the cognitive abilities. Once the estimates of cognitive abilities are takes as the controls in the regression, the strength of the education effect drops by around 40%.

### Data
NLSY 1979 is used for the research. To get the estimates of cognitive abilities, ASVAB test scores are regressed on the age so we avoid age bias, since the test is administered independent of the age of respondents. Then these estimates are used as controls. In this replication I use aggregated ASVAB residual score, which is different from the original research, that uses separate score residuals for each of ASVAB tests. Another difference is the year of data used.
To get aggregated experience I sum up the experience of all previous years for the respondents. Union coverage is derived by identifying whether the respondent had coverage from any of 13 employers.
Another controls are - ethnicity, SMSA residence, tenure, marital status, age, in some regressions - squared experience and age.
Since strong gender bias in the market is present, regressions are run separate for genders.

## Uploading the file
In this section I upload the necessary libraries and the files with NLSY79 data.

In [0]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [4]:
from google.colab import files

uploaded = files.upload()


for n, f in uploaded.items():
  with open(n,'wb') as file:
    file.write(f)

varMap = {'CPSHRP': 'wage',
          'FAM-1B': 'age',
          'Q15-1': 'ethnicity',
          'SMSARES': 'smsa',
          'MARSTAT-COL': 'marriage',
          'HGC': 'educ',
          'WKSWK-SLI': 'weeksWorked',
          'AFQT-1': 'testScore',
          'EMPLOYERS_ALL_UNION_1981.10': 'EMPLOYERS_ALL_UNION_1981.010',
          'EMPLOYERS_ALL_UNION_1981.11': 'EMPLOYERS_ALL_UNION_1981.011',
          'EMPLOYERS_ALL_UNION_1981.12': 'EMPLOYERS_ALL_UNION_1981.012',
          'EMPLOYERS_ALL_UNION_1981.13': 'EMPLOYERS_ALL_UNION_1981.013',
          'ASVAB-3': 'ASVABa',
          'ASVAB-4': 'ASVABb',
          'ASVAB-5': 'ASVABc',
          'ASVAB-6': 'ASVABd',
          'ASVAB-7': 'ASVABe',
          'ASVAB-8': 'ASVABf',
          'ASVAB-9': 'ASVABg',
          'ASVAB-10': 'ASVABh',}

## Data preprocessing

In this section I aggregate different union coverages to find if the respondent has any, do aggregation of the ASVAB scores, calculate tenure, total experience, find squared experience and squared age. Then I get rid of the variables I am not using directly in the regressions and get rid of the observations with missing values.

In [0]:
def unionCheck(x):
  check = 0
  for idx in range(1, 14):
    if x['EMPLOYERS_ALL_UNION_1981.0' + str(idx)] == 1:
      check = 1
  return check

def asvabAggregation(x):
  return sum([x['ASVAB-' + str(i)] if x['ASVAB-' + str(i)] > 0 else 0 for i in range(3, 11)])

def tenureCollapse(x):
  return sum([x['EMPLOYERS_ALL_TENURE_19' + str(i + 79) + '.01'] if x['EMPLOYERS_ALL_TENURE_19' + str(i + 79) + '.01'] > 0 else 0 for i in range(3)])

def totalExperience(x):
  return (x['WKSWK-SLI.1'] if x['WKSWK-SLI.1'] > 0 else 0) + (x['WKSWK-SLI.2'] if x['WKSWK-SLI.2'] > 0 else 0) + (x['weeksWorked'] if x['weeksWorked'] > 0 else 0)

In [6]:
df = pd.read_csv('oneMore.csv')
df.rename(columns = varMap, inplace = True)
df['unionCoverage'] = df.apply(unionCheck, axis = 1)
df['experience'] = df.apply(totalExperience, axis = 1)
df['experience'] = df.experience / float(max(df.experience))
df['tenure'] = df.apply(tenureCollapse, axis = 1)
# df['cogAbilities'] = df.apply(asvabAggregation, axis = 1)
df.drop(labels = [c for c in df.columns if c[:17] == 'EMPLOYERS_ALL_TEN'], axis = 1, inplace = True)
df.drop(labels = ['EMPLOYERS_ALL_UNION_1981.0' + str(idx) for idx in range(1, 14)], axis = 1, inplace = True)
df.drop(labels = ['WKSWK-SLI.1', 'WKSWK-SLI.2', 'weeksWorked'], axis = 1, inplace = True)
# df.drop(labels = ['ASVAB-' + str(i) for i in range(3, 11)], axis = 1, inplace = True)
df = df.replace([-5, -4, -3, -2, -1], np.nan)
df.dropna(axis = 0, inplace = True)

df['logWage'] = df.wage.apply(np.log)
df['white'] = df.ethnicity.apply(lambda x:  1 if x == 1 else 0)
df['black'] = df.ethnicity.apply(lambda x: 1 if x == 2 else 0)
df['hispanic'] = df.ethnicity.apply(lambda x: 1 if x == 3 else 0)
df['smsaDummy'] = df.smsa.apply(lambda x: 1 if x == 0 else 0)

df['expSq'] = df.experience.apply(lambda x: x ** 2)
df['ageSq'] = df.age.apply(lambda x: x ** 2)

df.head(5)

,CASEID,ethnicity,SAMPLE_SEX,age,ASVABa,ASVABb,ASVABc,ASVABd,ASVABe,ASVABf,...,unionCoverage,experience,tenure,logWage,white,black,hispanic,smsaDummy,expSq,ageSq
1,2,1.0,2,22.0,6.0,8.0,15.0,6.0,29.0,52.0,...,0,0.806630,283.0,6.347389,1,0,0,0,0.650652,484.0
3,4,1.0,2,18.0,15.0,18.0,29.0,12.0,46.0,62.0,...,0,0.000000,0.0,5.828946,1,0,0,0,0.000000,324.0
4,5,1.0,1,21.0,25.0,30.0,35.0,13.0,35.0,55.0,...,1,0.850829,338.0,6.109248,1,0,0,0,0.723910,441.0
5,6,1.0,1,20.0,23.0,30.0,35.0,15.0,45.0,68.0,...,1,0.408840,16.0,5.814131,1,0,0,0,0.167150,400.0
7,8,1.0,2,22.0,18.0,13.0,35.0,12.0,24.0,48.0,...,0,0.469613,185.0,6.131226,1,0,0,0,0.220537,484.0

In [7]:
for i in 'abcdefgh':
  model = 'ASVAB' + str(i) + ' ~ age'
  cognitiveModel = smf.ols(model, data = df).fit()
  df['cognitive' + str(i)] = cognitiveModel.resid
  
df['cognitiveAbilities'] = sum([df['cognitive' + str(i)] for i in 'abcdefgh'])
df.drop(labels = ['ASVAB' + str(i) for i in 'abcdefgh'], axis = 1, inplace = True)
df.drop(labels = ['cognitive' + str(i) for i in 'abcdefgh'], axis = 1, inplace = True)
df.head(5)

,CASEID,ethnicity,SAMPLE_SEX,age,marriage,educ,smsa,wage,unionCoverage,experience,tenure,logWage,white,black,hispanic,smsaDummy,expSq,ageSq,cognitiveAbilities
1,2,1.0,2,22.0,1.0,9.0,3.0,571.0,0,0.806630,283.0,6.347389,1,0,0,0,0.650652,484.0,-46.619455
3,4,1.0,2,18.0,2.0,9.0,2.0,340.0,0,0.000000,0.0,5.828946,1,0,0,0,0.000000,324.0,43.261043
4,5,1.0,1,21.0,1.0,15.0,1.0,450.0,1,0.850829,338.0,6.109248,1,0,0,0,0.723910,441.0,59.850669
5,6,1.0,1,20.0,1.0,14.0,2.0,335.0,1,0.408840,16.0,5.814131,1,0,0,0,0.167150,400.0,91.320794
7,8,1.0,2,22.0,2.0,12.0,1.0,460.0,0,0.469613,185.0,6.131226,1,0,0,0,0.220537,484.0,-12.619455

Let's take a look at the dataset now!

In [8]:
df = df[df.wage > 0]
df = df[df.educ < 25]
df = df[df.educ > 0]
df = df[df.age > 0]
df.describe()

,CASEID,ethnicity,SAMPLE_SEX,age,marriage,educ,smsa,wage,unionCoverage,experience,tenure,logWage,white,black,hispanic,smsaDummy,expSq,ageSq,cognitiveAbilities
count,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000,8313.000000
mean,5939.349814,1.320823,1.479249,19.789125,1.235054,11.726212,1.380849,487.833754,0.146999,0.453057,77.720919,6.068140,0.728858,0.221460,0.049681,0.264525,0.291281,396.729099,0.028496
std,3570.688459,0.563290,0.499599,2.262792,0.490122,1.854840,1.080842,275.582396,0.354126,0.293310,114.645558,0.510258,0.444576,0.415255,0.217299,0.441107,0.279478,89.630440,50.432817
min,2.000000,1.000000,1.000000,15.000000,1.000000,1.000000,0.000000,13.000000,0.000000,0.000000,0.000000,2.564949,0.000000,0.000000,0.000000,0.000000,0.000000,225.000000,-182.089580
25%,2903.000000,1.000000,1.000000,18.000000,1.000000,11.000000,0.000000,335.000000,0.000000,0.193370,10.000000,5.814131,0.000000,0.000000,0.000000,0.000000,0.037392,324.000000,-34.738957
50%,5641.000000,1.000000,1.000000,20.000000,1.000000,12.000000,1.000000,407.000000,0.000000,0.447514,26.000000,6.008813,1.000000,0.000000,0.000000,0.000000,0.200269,400.000000,5.380545
75%,8902.000000,2.000000,2.000000,22.000000,1.000000,12.000000,2.000000,563.000000,0.000000,0.712707,101.000000,6.333280,1.000000,0.000000,0.000000,1.000000,0.507952,484.000000,39.201292
max,12686.000000,3.000000,2.000000,24.000000,3.000000,18.000000,3.000000,7500.000000,1.000000,1.000000,1586.000000,8.922658,1.000000,1.000000,1.000000,1.000000,1.000000,576.000000,122.201292

## Building the models

Next two cells do OLS on females and males respectively using only education as a regressor.

In [9]:
dfW = df[df.SAMPLE_SEX == 2]
print(len(dfW))

results = smf.ols('logWage ~ educ', data=dfW).fit()


print(results.summary())

3984
                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.082
Model:                            OLS   Adj. R-squared:                  0.081
Method:                 Least Squares   F-statistic:                     353.4
Date:                Fri, 23 Mar 2018   Prob (F-statistic):           1.33e-75
Time:                        14:14:45   Log-Likelihood:                -2564.7
No. Observations:                3984   AIC:                             5133.
Df Residuals:                    3982   BIC:                             5146.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.0727      0.049    103.671      0.000       4.977       5.169
educ           0.0760      0.004     18.799      0.000       0.068       0.084
==============================================================================
Omnibus:                     1232.070   Durbin-Watson:                   1.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8379.766
Skew:                          -1.298   Prob(JB):                         0.00
Kurtosis:                       9.614   Cond. No.                         81.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
dfM = df[df.SAMPLE_SEX == 1]
print(len(dfM))

results = smf.ols('logWage ~ educ', data=dfM).fit()


print(results.summary())

4329
                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.065
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     301.5
Date:                Fri, 23 Mar 2018   Prob (F-statistic):           2.40e-65
Time:                        14:14:46   Log-Likelihood:                -3196.8
No. Observations:                4329   AIC:                             6398.
Df Residuals:                    4327   BIC:                             6410.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.3256      0.048    111.096      0.000       5.232       5.420
educ           0.0714      0.004     17.365      0.000       0.063       0.079
==============================================================================
Omnibus:                      973.113   Durbin-Watson:                   1.881
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5702.141
Skew:                          -0.942   Prob(JB):                         0.00
Kurtosis:                       8.298   Cond. No.                         73.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

As we can see, females have stronger effect of education on the wage. Which is usually explained by the stronger selection bias due to discrimination.

Now we include age, squared age, union coverage, marital status, SMSA residency and ethnicity, but no cognitive abilities and experience, for females and males respectively.

In [11]:
results = smf.ols('logWage ~ educ + age + ageSq + unionCoverage + marriage + smsa + black + hispanic', data=dfW).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.119
Model:                            OLS   Adj. R-squared:                  0.118
Method:                 Least Squares   F-statistic:                     67.32
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          4.73e-104
Time:                        14:14:48   Log-Likelihood:                -2481.0
No. Observations:                3984   AIC:                             4980.
Df Residuals:                    3975   BIC:                             5037.
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.2620      0.601      7.088      0.000       3.083       5.441
educ              0.0481      0.005      9.355      0.000       0.038       0.058
age               0.0782      0.062      1.260      0.208      -0.043       0.200
ageSq            -0.0011      0.002     -0.685      0.493      -0.004       0.002
unionCoverage     0.1576      0.022      7.035      0.000       0.114       0.202
marriage         -0.0184      0.015     -1.228      0.220      -0.048       0.011
smsa              0.0259      0.007      3.787      0.000       0.012       0.039
black            -0.0776      0.018     -4.319      0.000      -0.113      -0.042
hispanic          0.0497      0.034      1.471      0.141      -0.017       0.116
==============================================================================
Omnibus:                     1356.238   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10491.088
Skew:                          -1.409   Prob(JB):                         0.00
Kurtosis:                      10.434   Cond. No.                     3.45e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.45e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
results = smf.ols('logWage ~ educ + age + ageSq + unionCoverage + marriage + smsa + black + hispanic', data=dfM).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.183
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                     121.3
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          7.91e-184
Time:                        14:14:49   Log-Likelihood:                -2903.9
No. Observations:                4329   AIC:                             5826.
Df Residuals:                    4320   BIC:                             5883.
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         2.9694      0.583      5.092      0.000       1.826       4.113
educ              0.0227      0.005      4.852      0.000       0.014       0.032
age               0.2164      0.060      3.604      0.000       0.099       0.334
ageSq            -0.0038      0.002     -2.529      0.011      -0.007      -0.001
unionCoverage     0.1782      0.019      9.212      0.000       0.140       0.216
marriage          0.0910      0.019      4.910      0.000       0.055       0.127
smsa              0.0307      0.007      4.545      0.000       0.017       0.044
black            -0.1132      0.018     -6.405      0.000      -0.148      -0.079
hispanic         -0.0149      0.033     -0.447      0.655      -0.080       0.050
==============================================================================
Omnibus:                     1108.649   Durbin-Watson:                   1.906
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7350.228
Skew:                          -1.053   Prob(JB):                         0.00
Kurtosis:                       9.026   Cond. No.                     3.31e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Although the regression might be multicolinear at that point and the results don't match exactly with the original paper, we still see the same trends as in 1995 work: effect of the education goes down with the presence of controls, age and union coverage are strong positive signals for higher wage and being a minority will probably affect your wealth outcome not in a good way. Along with the Blackburn paper! Effect of education is still stronger for the females.

Let's add the experience now!

In [13]:
results = smf.ols('logWage ~ educ + experience + expSq + unionCoverage + marriage + smsa + black + hispanic', data=dfW).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.141
Model:                            OLS   Adj. R-squared:                  0.139
Method:                 Least Squares   F-statistic:                     81.42
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          3.85e-125
Time:                        14:14:51   Log-Likelihood:                -2431.8
No. Observations:                3984   AIC:                             4882.
Df Residuals:                    3975   BIC:                             4938.
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         5.1217      0.053     96.527      0.000       5.018       5.226
educ              0.0572      0.004     13.317      0.000       0.049       0.066
experience       -0.0319      0.093     -0.341      0.733      -0.215       0.151
expSq             0.3935      0.097      4.047      0.000       0.203       0.584
unionCoverage     0.1425      0.022      6.408      0.000       0.099       0.186
marriage          0.0235      0.013      1.779      0.075      -0.002       0.049
smsa              0.0276      0.007      4.084      0.000       0.014       0.041
black            -0.0427      0.018     -2.382      0.017      -0.078      -0.008
hispanic          0.0684      0.033      2.049      0.041       0.003       0.134
==============================================================================
Omnibus:                     1282.779   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9900.332
Skew:                          -1.319   Prob(JB):                         0.00
Kurtosis:                      10.258   Cond. No.                         232.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
results = smf.ols('logWage ~ educ + experience + expSq + unionCoverage + marriage + smsa + black + hispanic', data=dfM).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.166
Method:                 Least Squares   F-statistic:                     108.5
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          1.38e-165
Time:                        14:14:52   Log-Likelihood:                -2946.3
No. Observations:                4329   AIC:                             5911.
Df Residuals:                    4320   BIC:                             5968.
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         5.1754      0.052     99.671      0.000       5.074       5.277
educ              0.0527      0.004     12.850      0.000       0.045       0.061
experience        0.1164      0.098      1.192      0.233      -0.075       0.308
expSq             0.2487      0.100      2.487      0.013       0.053       0.445
unionCoverage     0.1732      0.020      8.815      0.000       0.135       0.212
marriage          0.1515      0.018      8.576      0.000       0.117       0.186
smsa              0.0335      0.007      4.919      0.000       0.020       0.047
black            -0.0755      0.018     -4.219      0.000      -0.111      -0.040
hispanic      -5.059e-05      0.034     -0.002      0.999      -0.066       0.066
==============================================================================
Omnibus:                     1141.162   Durbin-Watson:                   1.897
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8126.025
Skew:                          -1.067   Prob(JB):                         0.00
Kurtosis:                       9.364   Cond. No.                         226.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Strong multicollinearity could be the issue that gives the experience coefficient significanlty lower than in the original paper. Notice that effect of the education decreased again as predicted. Another explanation for insignificance of the experience might be the fact that I am using 1979-1981 data where respondents didn't have as much experience and thus the effect of the experience was lower compared to 1980-1985 used in the original study. Also, I don't get rid of self-employed people and agricultural workers, which might change importance of experience too.

In [15]:
results = smf.ols('logWage ~ educ + experience + expSq + unionCoverage + marriage + smsa + black + hispanic + cognitiveAbilities', data=dfW).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.143
Method:                 Least Squares   F-statistic:                     74.63
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          6.08e-128
Time:                        14:14:53   Log-Likelihood:                -2423.0
No. Observations:                3984   AIC:                             4866.
Df Residuals:                    3974   BIC:                             4929.
Df Model:                           9
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              5.1936      0.056     93.314      0.000       5.084       5.303
educ                   0.0489      0.005     10.364      0.000       0.040       0.058
experience            -0.0214      0.093     -0.229      0.819      -0.204       0.161
expSq                  0.3881      0.097      4.000      0.000       0.198       0.578
unionCoverage          0.1475      0.022      6.636      0.000       0.104       0.191
marriage               0.0312      0.013      2.349      0.019       0.005       0.057
smsa                   0.0289      0.007      4.286      0.000       0.016       0.042
black                 -0.0084      0.020     -0.428      0.669      -0.047       0.030
hispanic               0.0885      0.034      2.629      0.009       0.023       0.155
cognitiveAbilities     0.0008      0.000      4.194      0.000       0.000       0.001
==============================================================================
Omnibus:                     1258.232   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9566.391
Skew:                          -1.294   Prob(JB):                         0.00
Kurtosis:                      10.136   Cond. No.                         877.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
results = smf.ols('logWage ~ educ + experience + expSq + unionCoverage + marriage + smsa + black + hispanic + cognitiveAbilities', data=dfM).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.166
Method:                 Least Squares   F-statistic:                     96.45
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          1.38e-164
Time:                        14:14:53   Log-Likelihood:                -2946.2
No. Observations:                4329   AIC:                             5912.
Df Residuals:                    4319   BIC:                             5976.
Df Model:                           9
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              5.1660      0.057     90.002      0.000       5.054       5.279
educ                   0.0537      0.005     11.121      0.000       0.044       0.063
experience             0.1154      0.098      1.181      0.238      -0.076       0.307
expSq                  0.2486      0.100      2.486      0.013       0.053       0.445
unionCoverage          0.1728      0.020      8.782      0.000       0.134       0.211
marriage               0.1509      0.018      8.514      0.000       0.116       0.186
smsa                   0.0335      0.007      4.922      0.000       0.020       0.047
black                 -0.0791      0.020     -3.922      0.000      -0.119      -0.040
hispanic              -0.0019      0.034     -0.056      0.955      -0.069       0.065
cognitiveAbilities  -6.84e-05      0.000     -0.384      0.701      -0.000       0.000
==============================================================================
Omnibus:                     1142.043   Durbin-Watson:                   1.897
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8127.812
Skew:                          -1.068   Prob(JB):                         0.00
Kurtosis:                       9.364   Cond. No.                     1.03e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

As concluded by the paper, adding estimates of cognitive abilities lower importance of education (for females). At this point, due to the fact that in my replication I derive different estimate for cognitive abilities the disparity is significantly higher and for the males cognitive abilities are not an important factor at all (maybe because I am not getting rid of self-employed and agricultural workers)

In [17]:
results = smf.ols('logWage ~ educ + tenure + unionCoverage + marriage + smsa + black + hispanic', data=dfM).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logWage   R-squared:                       0.138
Model:                            OLS   Adj. R-squared:                  0.136
Method:                 Least Squares   F-statistic:                     98.49
Date:                Fri, 23 Mar 2018   Prob (F-statistic):          5.85e-134
Time:                        14:14:54   Log-Likelihood:                -3022.2
No. Observations:                4329   AIC:                             6060.
Df Residuals:                    4321   BIC:                             6111.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         5.1038      0.052     98.286      0.000       5.002       5.206
educ              0.0630      0.004     15.652      0.000       0.055       0.071
tenure            0.0003   6.06e-05      4.580      0.000       0.000       0.000
unionCoverage     0.2071      0.020     10.472      0.000       0.168       0.246
marriage          0.2025      0.017     11.585      0.000       0.168       0.237
smsa              0.0317      0.007      4.568      0.000       0.018       0.045
black            -0.0945      0.018     -5.211      0.000      -0.130      -0.059
hispanic          0.0053      0.034      0.156      0.876      -0.062       0.073
==============================================================================
Omnibus:                     1096.511   Durbin-Watson:                   1.898
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7358.087
Skew:                          -1.036   Prob(JB):                         0.00
Kurtosis:                       9.042   Cond. No.                     1.07e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.07e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Replacing experience with tenure does not change much.

Overidentification test and Hausman test.

Asymptotically Hausman test converges to F-test which means we can just look at the F-value, which leaves us with the result that the paper was correct saying that regression of wage on education by itself would result in overstated effect of the education.
The fact that condition number is large says that there might be an overidentification problem.

## Conclusion
It is a great paper. Main results were replicated, whilst some more complicated techniques and data selection process were simplified, which still gives the results stated in the article. As a personal result, I got to investigate the NSLY dataset structure and statistical models in Python package.